@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic');

:root {
  --r-heading-font: 'Ubuntu', sans-serif;
  --r-main-font: 'Ubuntu', sans-serif;
  
  --r-heading1-size: 2.25em;
  --r-heading2-size: 1.75em;
  --r-heading3-size: 1.5em;
  --r-heading4-size: 1.25em;
  --r-heading-text-transform: capitalize;
  --r-heading-margin: 0 0 .25em 0;

  --r-main-font-size: 1.75em;
}


