@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-main: #fff;
  --color-primary: #ffc800;
  --color-dark: #023047;
  --color-links: #3da5d9;
  --color-accent: #00c49a;

  --r-background-color: var(--color-dark);

  --r-link-color: var(--color-links);

  --r-main-font: 'Roboto', sans-serif;
  --r-main-color: var(--color-main);
  --r-main-font-size: 1.5em;

  --r-heading-font: 'Roboto', sans-serif;
  --r-heading-color: var(--color-primary);
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.5em;
  --r-heading3-size: 1em;
  --r-heading4-size: 0.75em;
  --r-heading5-size: 0.5em;
  --r-heading6-size: 0.25em;
  --r-heading-margin: 0 0 0.5em 0;
  --r-heading-text-transform: none;
}

.reveal strong {
  color: var(--color-primary);
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: var(--color-main);
}

.reveal p {
  text-align: left;
  margin: 0 0 1em 0;
}

.reveal em {
  font-style: italic;
  font-weight: 200;
}

.reveal ul {
  margin: 0 0 0.5em 0;
  list-style-type: square;
}

.reveal ul ul {
  list-style-type: disc;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul li::marker {
  color: var(--color-links);
}

.reveal ul:last-child {
  margin: 0;
}

.reveal ul li {
  margin: 0 0 0.5em 0;
  padding-left: -0.5em;
}

.reveal ul li::marker {
  color: var(--color-primary);
}

.reveal pre {
  width: fit-content;
}

/* Styles for inline code only so it doesn't clash with highlight.js */
.reveal code:not(pre code) {
  background-color: #f0f0f0;
  color: #d63384;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.8em;
}

.reveal img.background_white {
  background-color: white;
  padding: 0.25em;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.example {
  color: var(--color-accent);
  font-size: 0.75em;
  font-family: monospace;
}

.example::before {
  content: '⚙️ ';
}

.highlight-red {
  color: red;
}

.highlight-green {
  color: green;
}

.highlight-blue {
  color: blue;
}

.highlight-orange {
  color: orange;
}

.highlight-cyan {
  color: #00c49a;
}

.highlight-magenta {
  color: magenta;
}
